*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "SF Pro Display";
}

a {
  text-decoration: none;
  color: inherit;
}
