*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "SF Pro Display", sans-serif;
}

body {
  min-width: 320px;
}

a {
  text-decoration: none;
  color: inherit;
}
