.logo {
  cursor: pointer;
}

.section__wrapper {
  margin-top: 200px;

  @include response(notebook) {
    margin-top: 160px;
  }

  @include response(tablet) {
    margin-top: 120px;
  }

  @include response(phone) {
    margin-top: 100px;
  }
}

.uppercase {
  text-transform: uppercase;
}

.sm-cl {
  max-width: 43.334%;
  min-width: 43.334%;
  // max-width: 520px;
  // min-width: 520px;

  @include response(notebook) {
    max-width: 41.667%;
    min-width: 41.667%;
    // max-width: 400px;
    // min-width: 400px;
  }

  @include response(tablet) {
    max-width: 46.667%;
    min-width: 46.667%;
    //   max-width: 280px;
    //   min-width: 280px;
  }

  @include response(phone) {
    max-width: 100%;
    min-width: 100%;
  }
}

.lg-cl {
  max-width: 50%;

  @include response(phone) {
    max-width: 100%;
  }
}

section .heading-secondary {
  margin-bottom: 80px;

  @include response(notebook) {
    margin-bottom: 60px;
  }

  @include response(tablet) {
    margin-bottom: 40px;
  }
}
