.header {
  &__nav {
    max-width: 1240px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__hamburger-icon {
      cursor: pointer;
      display: none;
      width: 40px;
      height: 24px;

      @include response(notebook) {
        display: block;
      }

      @include response(tablet) {
        width: 35px;
        height: 20px;
      }
    }

    &__left-side {
      display: flex;
      align-items: center;

      @include response(notebook) {
        display: none;
      }
    }

    &__right-side {
      display: flex;
      align-items: center;

      & a.button {
        @include response(tablet) {
          display: none;
        }
      }
    }

    &__phone {
      margin-right: 40px;
      font-size: 20px;
      font-weight: 500;
      line-height: 140%;
      color: #222;

      @include response(tablet) {
        margin-right: 0;
      }

      @include response(phone) {
        font-size: 16px;
      }
    }

    &__links {
      &-wrapper {
        margin-left: 80px;
        display: flex;

        & .link--nav {
          &:not(:first-of-type) {
            margin-left: 40px;
          }
        }
      }
    }
  }

  &__wrapper {
    height: calc(100vh - 98px);
    position: relative;

    &__text {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      color: white;
      top: 260px;
      text-align: center;

      @include response(tablet) {
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      @include response(phone) {
        width: 100%;
        padding: 0 20px;
      }

      & a {
        display: none;
        padding: 20px 70px;

        @include response(tablet) {
          display: block;
          margin-top: 100px;
        }

        @include response(phone) {
          margin-top: 80px;
        }

        @include response(phone) {
          width: 100%;
        }
      }

      &__heading {
        margin-bottom: 40px;

        @include response(phone) {
          margin-bottom: 20px;
        }
      }

      &__subheading {
        max-width: 550px;
        font-size: 40px;

        @include response(phone) {
          font-size: 30px;
        }
      }
    }

    &__img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
