.advantages {
  &__wrapper {
    position: relative;
    overflow: hidden;

    & h2 {
      max-width: 1240px;
      padding: 0 20px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__arrows {
    margin-top: 60px;
    max-width: 1240px;
    padding: 0 20px;
    margin-right: auto;
    margin-left: auto;

    @include response(notebook) {
      margin-top: 40px;
    }

    @include no-hover {
      display: none;
    }

    & svg {
      cursor: pointer;
      transition: 0.2s all ease-in-out;

      &:hover path {
        fill: #333;
      }
      &:first-child {
        margin-right: 30px;
      }
    }
  }

  &__cards {
    &__slider {
      max-width: 1240px;
      padding: 0 20px;
      margin-right: auto;
      margin-left: auto;
      position: relative;

      @include no-hover {
        margin-left: 0;
        margin-right: 0;
        max-width: none;
        overflow: auto;
        padding-left: calc(((100vw - var(--scrollbar-width)) - 1200px) / 2);

        @include response(content-container) {
          padding: 0 20px;
        }
      }

      &__inner {
        transition: 0.5s all ease-in-out;
        display: inline-flex;
      }
    }

    &__item {
      // &:not(:last-child) {
      margin-right: 40px;

      @include response(tablet) {
        margin-right: 20px;
      }

      @include response(phone) {
        margin-right: 10px;
      }
      // }

      position: relative;
      width: 400px;
      height: 550px;

      @include response(tablet) {
        width: 280px;
        height: 380px;
      }

      &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          360deg,
          #000000 0%,
          rgba(0, 0, 0, 0) 27.55%
        );
      }

      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      & figcaption {
        position: absolute;
        bottom: 30px;
        left: 30px;
        color: white;

        @include response(tablet) {
          left: 20px;
          bottom: 20px;
        }
      }
    }
  }
}
