.comfort {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(1220px + (100% - 1200px) / 2);
    margin-left: auto;
    padding-left: 20px;

    & h3 {
      margin-bottom: 40px;
    }
  }

  &__img {
    width: calc(((100vw - var(--scrollbar-width)) - 1200px) / 2 + 520px);

    @include response(notebook) {
      width: calc(((100vw - var(--scrollbar-width)) - 1200px) / 2 + 500px);
    }

    & img {
      width: 100%;
      object-fit: cover;
      height: 600px;
    }
  }

  &__text {
    // width: 600px;
    // max-width: 40%;
    // min-width: 40%;

    max-width: 42.858%;
    min-width: 42.858%;
  }
}
