.offer {
  &__wrapper {
    max-width: 1240px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;

    & h2 {
      margin-bottom: 80px;
    }
  }

  &__cards {
    display: flex;
    justify-content: space-between;

    &__item {
      align-items: baseline;
      display: flex;
      flex-direction: column;

      & img {
        width: 100%;
      }

      & h3 {
        margin: 40px 0 20px;
      }

      & button {
        margin: 40px 0 20px;
      }
    }
  }
}
