.styles {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: calc((100% - 1200px) / 2);
    // padding-right: 20px;

    & h2 {
      margin-bottom: 80px;
    }
  }

  &__img {
    // width: 45.57%;
    width: calc((100vw - 1200px) / 2 + 520px);

    @include response(notebook) {
      width: calc((100vw - 1200px) / 2 + 500px);
    }

    & img {
      width: 100%;
      object-fit: cover;

      @include response(tab-land) {
        height: 600px;
      }
    }
  }

  &__text {
    margin-left: 80px;
    width: 600px;
  }
}
